<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>

        <div>Список базы данных</div>
        <form method="post" th:action="@{location}">
        <section class="locationList">
            <table class="table">
                <thead>
                    <th>Выбор</th>
                    <th>Название</th>
                </thead>

                <tbody>
                    <tr th:each="en : ${location}">
                        <td><input th:onclick="'make('+${en.id}+')'"
                            type="radio" name="id" th:value=${en.id}
                            checked="checked">в</td>
                        <td th:text="${en.locationname}"></td>
                        <td>
                            <a th:href="@{/location/delete/{id}(id=${en.id})}">
                                <i>Удалить</i>
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </section>

        
            <div>
                <input type="text" name="locationname" placeholder="Наименовани" />
                <button type="submit" formaction="/location/create">Добавить</button>
                <button type="submit" formaction="/location/edit">Редакировать</button>
            </div>
        </form>
    </div>


</body>
</html>