<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход в систему</title>
        <link rel="stylesheet" href="css/stylelogon.css"/>
    </head>
    <body>

        <div id="hero">

            <div class="container">
                <div class="info">
                    <h1>ORGTEHIKA</h1>
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <form th:action="@{/registration}" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <input type="text" name="username" placeholder="Пользователь"/>
                        <input type="password" name="password" placeholder="Пароль"/>
                        <input class="exit" type="submit" value="Зарегестрировать"/>
                    </form>
                    <p th:text="${message}" />

                </div>
            </div>

        </div>
    </body>
</html>