<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>

        <div>Список базы данных</div>
        <form method="post" th:action="@{technics}">
        <section class="statusList">
        <table class="table">
            <thead>
                <th>Выбор</th>
                <th>Название</th>
            </thead>

            <tbody>
                <tr th:each="en : ${status}">
                    <td><input th:onclick="'make('+${en.id}+')'"
                        type="radio" name="id" th:value=${en.id}
                        checked="checked">в</td>
                    <td th:text="${en.statusname}"></td>
                    <td>
                        <a th:href="@{/status/delete/{id}(id=${en.id})}">
                            <i>Удалить</i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
        </section>

        
        <div>
            <input type="text" name="statusname" placeholder="Наименовани" />
            <button type="submit" formaction="/status/create">Добавить</button>
            <button type="submit" formaction="/status/edit">Редакировать</button>
        </div>
    </form>
    </div>

</body>
</html>