<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>

        <div>Список базы данных</div>
        <form method="post" th:action="@{technics}">
        <section class="technicsList">
        <table class="table">
            <thead>
                <th>Выбор</th>
                <th>Серииный</th>
                <th>Инвентарный</th>
                <th>Характеристики</th>
                <th>Статус</th>
                <th>Пользователь</th>
                <th>Расположение</th>
            </thead>

            <tbody>
                <tr th:each="entity : ${technics}">
                    <td><input th:onclick="'make('+${entity.id}+')'"
                        type="radio" name="id" th:value=${entity.id}
                        checked="checked">в</td>
                    <td th:text="${entity.serial}"></td>
                    <td th:text="${entity.inventory}"></td>
                    <td th:text="${entity.technicsNametech}"></td>
                    <td th:text="${entity.technicsStatus}"></td>
                    <td th:text="${entity.technicsUserTech}"></td>
                    <td th:text="${entity.technicsLocation}"></td>
                    <td>
                        <a th:href="@{/technics/delete/{id}(id=${entity.id})}">
                            <i>Удалить</i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </section>

        
        <div>

            <div>
                    <table>
                        <thead>
                            <th>Серииный</th>
                            <th>Инвентарный</th>
                            <th>Характеристики</th>
                            <th>Статус</th>
                            <th>Пользователь</th>
                            <th>Расположение</th>
                        </thead>
            
                        <tbody>
                            <tr>
                                <td><input type="text" name="serial" placeholder="Введите название техники" /></td>
                                <td><input type="text" name="inventory" placeholder="Введите название техники" /></td>

                                <td>
                                    <select id="nametechId" name="nametechId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="nametech : ${nametechs}" th:value="${nametech.id}" th:text="${nametech.nametech}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="statusId" name="statusId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="status : ${statuss}" th:value="${status.id}" th:text="${status.statusname}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="usertechId" name="usertechId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="usertech : ${usertechs}" th:value="${usertech.id}" th:text="${usertech.fio}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="locationId" name="locationId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.locationname}"></option>
                                        </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <button type="submit" formaction="/technics/create">Добавить</button>
                <button type="submit" formaction="/technics/edit">Редакировать</button>

        </div>
    </form>
    </div>

</body>
</html>