<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>

        <div>Список базы данных</div>
        <table class="table">
            <thead>
                <th>Серииный</th>
                <th>Инвентарный</th>
                <th>Характеристики</th>
                <th>Статус</th>
                <th>Пользователь</th>
                <th>Расположение</th>
            </thead>

            <tbody>
                <tr th:each="entity : ${technics}">
                    <td th:text="${entity.serial}"></td>
                    <td th:text="${entity.inventory}"></td>
                    <td th:text="${entity.technicsNametech}"></td>
                    <td th:text="${entity.technicsStatus}"></td>
                    <td th:text="${entity.technicsUserTech}"></td>
                    <td th:text="${entity.technicsLocation}"></td>
                </tr>
            </tbody>

        </table>

        
        <div>

            <div>
                
                <form th:action="@{technics/create}" method="post">
                    <table>
                        <thead>
                            <th>Серииный</th>
                            <th>Инвентарный</th>
                            <th>Характеристики</th>
                            <th>Статус</th>
                            <th>Пользователь</th>
                            <th>Расположение</th>
                        </thead>
            
                        <tbody>
                            <tr>
                                <td><input type="text" name="serial" placeholder="Введите название техники" /></td>
                                <td><input type="text" name="inventory" placeholder="Введите название техники" /></td>

                                <td>
                                    <select id="nametechId" name="nametechId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="nametech : ${nametechs}" th:value="${nametech.id}" th:text="${nametech.nametech}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="statusId" name="statusId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="status : ${statuss}" th:value="${status.id}" th:text="${status.statusname}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="usertechId" name="usertechId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="usertech : ${usertechs}" th:value="${usertech.id}" th:text="${usertech.fio}"></option>
                                        </select>
                                </td>

                                <td>
                                    <select id="locationId" name="locationId" required>
                                        <option value="0">select operator</option>
                                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.locationname}"></option>
                                        </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p><button type="submit">Добавить</button></p>
                </form>
            
            </div>

            <input type="button" value="Удалить" onclick="deletes()" />

            <form th:action="@{editgrouptech}" method="post">
                <button type="submit">Редакировать</button>
            </form>

        </div>
    </div>





    <script src="jquery-3.5.1.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.table tr').hover(function(){
            $(this).addClass('hover');
        }, function() {
            $(this).removeClass('hover');
        });

        $('.table tr').click(function(){
            $('.table tr').removeClass('active');
            $(this).addClass('active');
        });
    });
    </script>

    <script type="text/javascript">
    /* Данная функция создаёт кроссбраузерный объект XMLHTTP */
    function getXmlHttp() {
        var xmlhttp;
        try {
        xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
        try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (E) {
        xmlhttp = false;
        }
        }
        if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
        xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }
    function deletes() {

        var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
        xmlhttp.open('POST', '/testtechnics', true); // Открываем асинхронное соединение
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
        xmlhttp.send(); // Отправляем POST-запрос
    }
    </script>
</body>
</html>