<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Техника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>

        <div>
        <h1>Филтры </h1>
        <form th:action="@{techatt}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="techatt" placeholder="Введите название" />
            <button type="submit">Поиск</button>
        </form>
        </div>
        <div>Список базы данных</div>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Название</th>
                <th>Инвертарный</th>
                <th>Категория</th>
                <th>Дата ввода в эксплуатацию</th>
                <th>Характеристики</th>
                <th>Место обитания</th>
            </thead>

            <tbody>
                <tr th:each="el : ${techattributs}">
                    <td th:text="${el.techId}"></td>
                    <td th:text="${el.techName}"></td>
                    <td th:text="${el.techInventory}"></td>
                    <td th:text="${el.techCategory}"></td>
                    <td th:text="${el.techData}"></td>
                    <td th:text="${el.techCharact}"></td>
                    <td th:text="${el.techLocation}"></td>
                </tr>
            </tbody>

        </table>
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Название</th>
                <th>Инвертарный</th>
                <th>Категория</th>
                <th>Дата ввода в эксплуатацию</th>
                <th>Характеристики</th>
                <th>Место обитания</th>
            </thead>

            <tbody>
                <tr th:each="en : ${technicsAttribute}">
                    <td th:text="${en.serial}"></td>
                    <td th:text="${en.inventory}"></td>
                    <td th:text="${en.nametech}"></td>
                    <td th:text="${en.status}"></td>
                    <td th:text="${en.usertech}"></td>
                    <td th:text="${en.location}"></td>
                </tr>
            </tbody>

        </table>
        <div>
            <form th:action="@{addtechik}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="text" name="techName" placeholder="Введите название техники" />
                <input type="text" name="techInventory" placeholder="Инвертарный" />
                <input type="text" name="techCategory" placeholder="выберите категорию" />
                <input type="text" name="techData" placeholder="Введите дату" />
                <input type="text" name="techCharact" placeholder="Введите характеристики" />
                <input type="text" name="techLocation" placeholder="Место обитания" />
                <button type="submit">Добавить</button>
            </form>

            <input type="button" value="Удалить" onclick="deletes()" />

            <form th:action="@{editTechink}" method="post">
                <button type="submit">Редакировать</button>
            </form>

        </div>
    </div>

    <script src="jquery-3.5.1.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.table tr').hover(function(){
            $(this).addClass('hover');
        }, function() {
            $(this).removeClass('hover');
        });

        $('.table tr').click(function(){
            $('.table tr').removeClass('active');
            $(this).addClass('active');
        });
    });
    </script>

    <script type="text/javascript">
    /* Данная функция создаёт кроссбраузерный объект XMLHTTP */
    function getXmlHttp() {
        var xmlhttp;
        try {
        xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
        try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        } catch (E) {
        xmlhttp = false;
        }
        }
        if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
        xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }
    function deletes() {

        var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
        xmlhttp.open('POST', '/testtechnics', true); // Открываем асинхронное соединение
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
        xmlhttp.send(); // Отправляем POST-запрос
    }
    </script>
</body>
</html>