<!DOCTYPE HTML>
<html>
<head>
    <title>Филтры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="main">
    <header th:insert="blocks/header :: header"></header>
    <div>
    <h1>Филтры </h1>
    <form th:action="@{filter}" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="filter" placeholder="Введите название" />
        <button type="submit">Поиск</button>
    </form>
    </div>
    <div>Список базы данных</div>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Название</th>
            <th>Id Названия</th>
        </thead>

        <tbody>
            <tr th:each="el : ${viewgs}">
                <td th:text="${el.idviewg}"></td>
                <td th:text="${el.viewg}"></td>
                <td th:text="${el.viewg_id}"></td>
            </tr>
        </tbody>

    </table>
    </div>
</body>
</html>