<!DOCTYPE HTML>
<html>
<head>
    <title>Добавить запись</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="main">
<div>
    <form method="post" action="addposta">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="textviewg" placeholder="Введите название" />
        <input type="text" name="idview" placeholder="Введите название" />
        <button type="submit">Добавить</button>
    </form>
</div>

<a href="/testmain" class="btn">Главная страница</a>
</div>
</body>
</html>