<!DOCTYPE HTML>
<html>
<head>
    <title>Филтры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="main">
    <div>
    <h1>Филтры </h1>
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="filter" placeholder="Введите название" />
        <button type="submit">Поиск</button>
    </form>
    </div>
    <div>Список базы данных</div>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Id Названия</th>
        </tr>

        {{#viewgs}}
        <tr>
            <td>{{idviewg}}</td>
            <td>{{viewg}}</td>
            <td>{{viewg_id}}</td>
        </tr>
        {{/viewgs}}

    </table>
    <div>
    <a href="/testmain" class="btn">Главная страница</a>
    </div>
    </div>
</body>
</html>