<!DOCTYPE HTML>
<html>
<head>
    <title>Web content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Список базы данных</div>

    <div>
    <a href="/" class="btn">Назад</a>
    </div>
</body>
</html>