<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="main">
        <header th:insert="blocks/header :: header"></header>
        <div>
            <div class="out">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
            <div>
            <h1>Главнпя страница веб клиента </h1>
            </div>
            <div>Список базы данных</div>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Id Названия</th>
                </thead>

                <tbody>
                    <tr th:each="el : ${viewgs}">
                        <td th:text="${el.idviewg}"></td>
                        <td th:text="${el.viewg}"></td>
                        <td th:text="${el.viewg_id}"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <script src="jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
	$('.table tr').hover(function(){
		$(this).addClass('hover');
	}, function() {
		$(this).removeClass('hover');
	});

	$('.table tr').click(function(){
		$('.table tr').removeClass('active');
		$(this).addClass('active');
	});
});
</script>
</body>
</html>