<div th:fragment="header">
    <div id="header">
        <a href="/technics" class="btn">Главная страница</a>
        <a href="/technics" class="btn">Техника</a>
        <a href="/grouptech" class="btn">Группы</a>
        <a href="/nametech" class="btn">Техника и ее характ</a>
        <a href="/status" class="btn">Статусы</a>
        <a href="/location" class="btn">Локация</a>
        <a href="/usertech" class="btn">Сотрудники</a>
        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Выход"/>
        </form>
    </div>
</div>